<div class="flex-center">
  <div class="wrapper">
    <div class="background-img">
      <img class="background" src="pattern-bg-desktop.png" alt="" />
    </div>
    <div class="content">
      <h1>IP Address Tracker</h1>
      <div class="input-wrapper">
        <div class="search-ip-wrapper">
          <input
            type="text"
            placeholder="Search for any IP address or domain"
          />
        </div>
        <button>></button>
      </div>
      <div class="ip-info">
        <div class="info-block">
          <h3>IP ADDRESS</h3>
          <h2>192.212.174.101</h2>
        </div>
        <div class="info-block">
          <h3>LOCATION</h3>
          <h2>Brooklyn, NY 10001</h2>
        </div>
        <div class="info-block">
          <h3>TIMEZONE</h3>
          <h2>UTC-05:00</h2>
        </div>
        <div class="info-block">
          <h3>ISP</h3>
          <h2>SpaceX Starlink</h2>
        </div>
      </div>
    </div>
  </div>
</div>
