<div class="flex-center">
  <div class="wrapper">
    <div class="background-img">
      <img class="background-desktop" src="pattern-bg-desktop.png" alt="" />
      <img class="background-mobile" src="pattern-bg-mobile.png" alt="" />
      @if (geoResponse) {
      <div class="map-wrapper">
        <app-map
          [latitude]="geoResponse.location.lat"
          [longitude]="geoResponse.location.lng"
        ></app-map>
      </div>
      }
    </div>
    <div class="content">
      <h1>IP Address Tracker</h1>
      <div class="input-wrapper">
        <div class="search-ip-wrapper">
          <input
            type="text"
            placeholder="Search for any IP address or domain"
            [(ngModel)]="ip"
          />
        </div>
        <button (click)="searchIp()">></button>
      </div>
      <div class="ip-info">
        <div class="info-block">
          <h3>IP ADDRESS</h3>
          @if (geoResponse) {
          <h2>{{ geoResponse.ip }}</h2>
          }
        </div>
        <div class="info-block">
          <h3>LOCATION</h3>
          @if (geoResponse) {
          <h2>
            {{ geoResponse.location.country }} +
            {{ geoResponse.location.region }}
          </h2>
          }
        </div>
        <div class="info-block">
          <h3>TIMEZONE</h3>
          @if (geoResponse) {
          <h2>UTC{{ geoResponse.location.timezone }}</h2>
          }
        </div>
        <div class="info-block">
          <h3>ISP</h3>
          @if (geoResponse) {
          <h2>{{ geoResponse.isp }}</h2>
          }
        </div>
      </div>
    </div>
  </div>
</div>
